.cimg {
    width: 70% !important;
}
.cimgDiv {
    text-align: center !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cName {
    text-align: center;
    font-size: 20px !important;
}
.cDiv {
    background-color: #f09377;
    border: 1px solid #f09377;
}
.row:before{
    display: none !important;
}
/* #f77b55 */